
Here you will see and change the details of the party:

<input ng-disabled="party.owner != $root.currentUser._id" ng-model="party.description">
<input ng-disabled="party.owner != $root.currentUser._id" ng-model="party.name">
<label>Is public</label>
<input ng-disabled="party.owner != $root.currentUser._id" type="checkbox" ng-model="party.public">

<ul ng-show="canInvite()">
    Users to invite:
    <li ng-repeat="user in users | uninvited:party">
        <div>{{ user | displayName }}</div>
        <button ng-click="invite(user)">Invite</button>
    </li>
    <li ng-if="(users | uninvited:party).length <= 0">
        Everyone are already invited.
    </li>
</ul>